html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Helvetica, Arial, sans-serif;
    border: none;
    
}

:root {
    --main-colour: #450a0a;
    --white-colour: white;
    --tertiary-colour: rgba(222, 230, 231, 0.781);
    --accent-color: #0a4545;
    --shadow-color: #b49d9d;
    --p-colour: #615c5c;
    --p-rgb-colour: 97, 92, 92
    
}

.container {
    display: grid;
    grid-template-columns: 21vw 1fr 22vw;
    grid-template-rows: 7vh 10vh 5vh 1fr;
    height: 100vh;
}

.header {
    grid-column: 2/4;
    background-color: var(--white-colour);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5vh;
    align-items: center;
    padding: 2.5vh 0 0 2vw;
    font-size: 2.5vh;
}

.search-bar {
    display: flex;
    gap: 2vw;
    align-items: center;
}
.search-bar > svg {
    height: 3vh;
    width: 3vh;
}

#searchy {
    border-radius: 5vh;
    background-color: var(--tertiary-colour);
    outline: none;
    border-style: none;
    padding-left: 1.5vw;
    width: 35vw;
    height: 3vh;
    font-size: 2vh;
    transition: box-shadow 0.3s ease-in-out;
}

#searchy:focus {
    box-shadow: 2px 2px 4px  var(--shadow-color);
}

.header-nav {
    display: flex;
    justify-content: end;
    padding-right: 3vw;
    gap: 2vw;
    align-items: center;
}
.header-nav > svg {
    height: 2.5vw;
    width: 2.5vw;
    color: #000;
    z-index: 2;
}

#avatar-head {
    height: 4.5vh;
    width: 4.5vh;
    z-index: 2;
}

.side-bar {
    grid-row: 1/5;
    background-color: var(--main-colour);
    display: grid;
    grid-template-rows: repeat(12, 5vh);
    padding: 2.5vh 0 0 0vw;
    
}

.side-bar-nav {
    font-weight: 800;
    font-size: 2.5vh;
    color: var(--white-colour);
    
    display: grid;
    grid-template-columns: 6vw 1fr;
    align-items: center;
}

.side-bar-nav > svg {
    height: 1.5vw;
    width: 1.5vw;
    fill: var(--white-colour);
    justify-self: center;
}

#dashboard > svg {
    height: 4vw;
    width: 4vw;
}

#dashboard {
    font-size: 2vw;
    font-weight: 900;
    align-self: center;
    
}

.nav {
    grid-column: 2/4;
    background-color: var(--white-colour);
    display: grid;
    grid-template-columns: 8vw 1fr 30vw;
    align-items: center;
    box-shadow: 4px 4px 4px  var(--shadow-color);
    z-index: 1;
}

.avatar {
    height: 7vh;
    width: 7vh;
    justify-self: center;
}

.nav p {
    font-size: 1.5vh;
}

.nav h2 {
    font-size: 1.5vw;
    font-weight: 600;
}
.nav-buttons {
    display: flex;
    gap: 1vw;
    justify-content: end;
    padding-right: 2.5vw;
    
    
}

.nav-buttons > button {
    height: 4vh;
    width: 7vw;
    border-radius: 7vh;
    background-color: var(--main-colour);
    font-size: 1.75vh;
    border: none;
    color: var(--white-colour);
    font-weight: 800;
   
}


.main-content {
    grid-column: 2/5;
    grid-row: 3/5;
    background-color: var(--tertiary-colour);
    display: grid;
    grid-template-columns: 1fr 18.5vw;
    grid-template-rows: 3vh 1fr 3vh 1fr;
    padding: 3vh 2.5vw;
    row-gap: .5vh;
    column-gap: 2vw;

}

.main-content h2 {
    font-weight: 600;
}

.cards{
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    gap: 1vw;
    
}

.card p {
    font-size: .75vw;
    color: var(--p-colour);
}

.card h3 {
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: .5vh;
}

.card {
    background-color: var(--white-colour);
    display: grid;
    grid-template-columns: .5vw 1fr;
    border-radius: 1vw;
    overflow: hidden;  
}

.icons {
    display: flex;
    flex-direction: row-reverse;
    fill: #000;
    justify-self: flex-end;
    align-items: flex-end;
    gap: 1vw;
    padding-right: 1vw;

}

.icons > img {
    height: 2vw;
    width: 2vw;
}

img, svg, button {
    filter: drop-shadow(0px 0px 0px  var(--shadow-color));
    transition: drop-shadow 0.3s ease-in-out;
}

img:hover, svg:hover, button:hover {
    filter: drop-shadow(0px 0px 5px  var(--shadow-color)); 
}

.card, .announcement-content, .trending-content {
    box-shadow: 2px 2px 4px  var(--shadow-color);
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover, .announcement-content:hover, .trending-content:hover {
    box-shadow: 6px 6px 15px  var(--shadow-color);
    
}

.c-content {
    padding: 1vw;
    display: grid;
    grid-template-rows: 4vh 1fr 2vh 5vh
}

.accent {
    background-color: var(--accent-color);
    
}

.right-side {
    background-color: var(--tertiary-colour);
}

.main-content h2 {
    font-size: 2vh;
}

.announcement-content {
    background-color: var(--white-colour);
    border-radius: 1vw;
    margin-bottom: 4vh;
    box-shadow: 2px 2px 4px  var(--shadow-color);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: .5vh 2vw;
}

.announcement {
    padding: 1.5vh 0;
}

#a2, #a3 {
    border-top: 1px solid rgba(var(--p-rgb-colour), 0.3);
}

.announcement p {
    font-size: .6vw;
    color: var(--p-colour);
    overflow: hidden;
}

.announcement h4 {
    font-size: 1.5vh;
    font-weight: 600;
}

.trending-content {
    background-color: var(--white-colour);
    border-radius: 1vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1vh 1.5vw;
}

.user {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1vh;
    align-items: center;
}

.user > h5 {
    font-size: 1.5vh;
    font-weight: 800;
    align-self: flex-end;
    margin: 0;
}

.user > p {
    font-size: .6vw;
    font-style: italic;
    align-self: flex-start;
    font-weight: 0;
}
.user > img {
    grid-row: 1/3;
    height: 6vh;
    width: 6vh;
}